body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff00bf;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li .submenu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
}

main {
    padding: 20px;
}